<h3>
    Categories
    <a href="{{ path('getCategories') }}" class="btn btn-default">
        <i class="fa fa-folder-open" aria-hidden="true"></i>
    </a>
</h3>

{% if categories is not empty %}
    {% for category in categories %}
        <div style="margin-bottom: 5px;">
            <div class="btn-group">
                <a href="{{ path('getCategory', {'id' : category.id}) }}" class="btn btn-default">{{ category.name }}</a>
                <a href="{{ path('newPost', {'categoryId' : category.id}) }}" class="btn btn-primary">New Post</a>
            </div>
        </div>
    {% endfor %}
{% endif %}

<a href="{{ path('newCategory') }}" class="btn btn-primary btn-lg">New Category</a>