<h3>
    Categories
    <div class="btn-group" style="margin-left: 5px;">
        {# <a href="{{ path('newCategory') }}" class="btn btn-primary">
            <i class="fa fa-pencil" aria-hidden="true" style="margin-right: 5px"></i>
            New
        </a> #}
        <a href="{{ path('getCategories') }}" class="btn btn-default">
            <i class="fa fa-list" aria-hidden="true" style="margin-right: 5px"></i>
            List
        </a>
    </div>
</h3>

{% if categories is not empty %}
    <div style="margin-bottom: 15px;">
        {% for category in categories %}
            <div style="margin-bottom: 5px;">
                <div class="btn-group">
                    <a href="{{ path('getCategory', {'id' : category.id}) }}" class="btn btn-default">{{ category.name }}</a>
                    <a href="{{ path('newPost', {'categoryId' : category.id}) }}" class="btn btn-primary">New Post</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endif %}